<mat-card>
  <mat-card-header>
    <mat-card-title><h2>Login</h2></mat-card-title>
    <mat-card-subtitle>Please enter your credentials</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="this.form" (submit)="this.submit()">
      <br />
      <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input matInput formControlName="login" />
        <mat-error align="end">Login is at least 5 characters</mat-error>
      </mat-form-field>
      <br />

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password"/>
        <mat-error align="end">Password is required</mat-error>
      </mat-form-field>
      <br />

      <button mat-raised-button color="primary" type="submit" disabled="{{ this.form.invalid }}">
        <mat-icon>arrow_forward</mat-icon> Login
      </button>
    </form>
  </mat-card-content>
  @if (svc.isLoading()){
  <mat-card-footer>
    <mat-card-content>>Connexion en cours</mat-card-content>
  </mat-card-footer>
  }
  @if (svc.error()) {
    <mat-card-footer>
    <mat-card-content>>Erreur : {{svc.error()}}</mat-card-content>
  </mat-card-footer>
  }
</mat-card>
