mat-card {
  width: 400px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

mat-card-header {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

button {
  width: 100%;
  margin-top: 10px;
}
